<form method="GET">
    <legend>Please provide search criteria</legend>
    <table>
        <tr>
            <td><label for="price_from">Price from:</label></td>
            <td><input id="price_from" name="price_from"/>
        </tr><tr>
        <td><label for="price_till">Price till:</label></td>
        <td><input id="price_till" name="price_till"/>
    </tr>
    </table>
    <table>
        <tr>
            <td><label for="category">Category name</label></td>
            <td><input id="category" name="category"/>
        </tr>
    </table>
    <table>
        <tr>
            <td><label for="item_name">Name or description contain</label></td>
            <td><input id="item_name" name="item_name"/>
        </tr>
    </table>
    <input type="submit" value="Search"/>
</form>
